@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fc-view-container {
  overflow: visible !important;
  position: relative;
}

.fc-daygrid-day {
  background-color: white; 
  transition: background-color 1.5s ease-out;
}

.selected-cell {
  background-color: rgba(207, 13, 13, 0.697); 
}